.criar-bancos {
	display: flex;
	flex-flow: column;
	flex: 1;

	padding: 2rem;
	gap: 2rem;
	color: #fff;

	max-height: 100%;
	width: 100vw;
}

.criar-bancos .title {
	display: flex;
	justify-content: space-between;
}
